In [1]:
import pandas as pd

In [22]:
# Load the excel file
df = pd.read_excel('solutions1.7_fba_fluxes.xlsx')

In [23]:
# Filter the variables of interest
variables_of_interest = ['xAMINOACID','xBIOMASS',  'xLIPID', 'xPOOL_AC_EM', 'xPOOL_AC_LP','y000446', 'y000499', 'y000851', 'y001063', 'y001112', 'y001126', 'y001824', 'y001832', 'y002117', 'y002119', 'y002132', 'y200001']
df_filtered = df[df['names'].isin(variables_of_interest)]

In [24]:
df_filtered

            names    fluxes
0      xAMINOACID  0.105692
1        xBIOMASS  0.105692
2          xLIPID  0.000106
4     xPOOL_AC_EM  0.000000
5     xPOOL_AC_LP  0.011949
333       y000446 -0.819445
377       y000499  0.000000
668       y000851 -0.065212
815       y001063  0.015642
860       y001112  0.000000
873       y001126 -0.038260
1183      y001824  8.215431
1190      y001832 -8.265718
1397      y002117  0.041008
1399      y002119  0.000000
1403      y002132  2.889276
1807      y200001  0.025863